body {
    color: rgb(214, 88, 38);
    background-color: rgb(180, 204, 200);
    background-image: url(images/titleMonsterBackground.jpg);
    
    /* Repeated layering to increase the shadow's strength */
    text-shadow: 
        0 0 15px rgb(226, 255, 245), 
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245);
}

#title {
    font-size: 64px;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    margin: 10%;
}

a {
    font-size: 32px; 
    color: rgb(214, 88, 38);
    
    /* Repeated layering to increase the shadow's strength */
    text-shadow: 
        0 0 15px rgb(226, 255, 245), 
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245),
        0 0 15px rgb(226, 255, 245);
}